:toc:
:toclevels: 8
:toc-title: Table of contents (work in progress: this list is preliminary and will be updated continuously)
:sectnums:
:sectnumlevels: 8

{% for method in methods %}

{% for l in range(method.level+1) %}={% endfor %} {{ method.name }}{% if method.level==0 %} 

---
{% endif %}
{{method.description}}
{% endfor %}

[bibliography]
== References
{% for reference in references %}
- [[[{{ reference.name }}]]] {{ reference.cited }}
{% endfor %}