﻿.general data
|===
| name | {{ software.name }}
| short description | {{ software.short_description }}
| software category | {{ software.softwarecategory }}
| developer | {{ software.developer }}
| maintainer | {{ software.maintainer }}
| current version | {{ software.currentversion }}
| last changed | {{ software.lastchanged}}
| programming lanuage(s) | {{ software.programminglanguages |map(attribute='name')|join(', ') }}
| operating system(s)| {{ software.operatingsystems |map(attribute='name')|join(', ') }}
| license | {{ software.license }}
| costs | {{ software.price }}
| language | {{ software.languages |map(attribute='name')|join(', ') }}
| architecture | {{software.architecture}}
| web-links | {% for link in software.links %}link:{{link.url}}[{{link.type}}{{'-'+link.comment if link.comment else '' }}], {% endfor %}
|===

.features
|===
| supported methods | {% for method in software.methods %}link:MethodsList#{{ method.name.replace(' ', '-').replace('(', '-').replace(')', '-').replace('/', '-').replace('--', '-').strip('-') }}[<{{method.name}}>] {% endfor %}
| additional features | {{ software.features |map(attribute='name')|join(', ') }}
|===