:toc:
:toclevels: 8
:toc-title: Software category {{software_category_name}} (work in progress: this list is preliminary and will be updated continuously)
:sectnums:
:sectnumlevels: 8

== {{software_category_name}}
_{{software_category_short_description}}_

{% if standalonesoftwareincategory.count() > 0 %}=== stand-alone applications
{% for software in standalonesoftwareincategory %}
link:Tool_{{ software.name.replace(' ', '').replace('/', '') }}[{{ software.name }}] ({% for link in software.links %}link:{{link.url}}[{{link.type}}{{'-'+link.comment if link.comment else '' }}] {% endfor %}):: {{software.short_description}} < {% if software.currentversion %}{{software.currentversion}}{% endif %} | {{software.license}} | {{software.architecture}} | {{ software.programminglanguages |map(attribute='name')|join(', ') }} | {{ software.languages |map(attribute='name')|join(', ') }}>
{% endfor %}{% endif %}

{% if serversoftwareincategory.count() > 0 %}=== server applications
{% for software in serversoftwareincategory %}
link:Tool_{{ software.name.replace(' ', '').replace('/', '') }}[{{ software.name }}] ({% for link in software.links %}link:{{link.url}}[{{link.type}}{{'-'+link.comment if link.comment else '' }}] {% endfor %}):: {{software.short_description}} < {% if software.currentversion %}{{software.currentversion}}{% endif %} | {{software.license}} | {{software.architecture}} | {{ software.programminglanguages |map(attribute='name')|join(', ') }} | {{ software.languages |map(attribute='name')|join(', ') }}>
{% endfor %}{% endif %}

=== programming-frameworks/libraries etc.
{% if libsoftwareincategory[0].count() > 0 %}==== R
{% for software in libsoftwareincategory[0] %}
link:Tool_{{ software.name.replace(' ', '').replace('/', '') }}[{{ software.name }}] ({% for link in software.links %}link:{{link.url}}[{{link.type}}{{'-'+link.comment if link.comment else '' }}] {% endfor %}):: {{software.short_description}} < {% if software.currentversion %}{{software.currentversion}}{% endif %} | {{software.license}} | {{software.architecture}} | {{ software.programminglanguages |map(attribute='name')|join(', ') }} | {{ software.languages |map(attribute='name')|join(', ') }}>
{% endfor %}{% endif %}
{% if libsoftwareincategory[1].count() > 0 %}==== Python
{% for software in libsoftwareincategory[1] %}
link:Tool_{{ software.name.replace(' ', '').replace('/', '') }}[{{ software.name }}] ({% for link in software.links %}link:{{link.url}}[{{link.type}}{{'-'+link.comment if link.comment else '' }}] {% endfor %}):: {{software.short_description}} < {% if software.currentversion %}{{software.currentversion}}{% endif %} | {{software.license}} | {{software.architecture}} | {{ software.programminglanguages |map(attribute='name')|join(', ') }} | {{ software.languages |map(attribute='name')|join(', ') }}>
{% endfor %}{% endif %}
{% if libsoftwareincategory[2].count() > 0 %}==== Others
{% for software in libsoftwareincategory[2] %}
link:Tool_{{ software.name.replace(' ', '').replace('/', '') }}[{{ software.name }}] ({% for link in software.links %}link:{{link.url}}[{{link.type}}{{'-'+link.comment if link.comment else '' }}] {% endfor %}):: {{software.short_description}} < {% if software.currentversion %}{{software.currentversion}}{% endif %} | {{software.license}} | {{software.architecture}} | {{ software.programminglanguages |map(attribute='name')|join(', ') }} | {{ software.languages |map(attribute='name')|join(', ') }}>
{% endfor %}{% endif %}
