:toc:
:toclevels: 8
:toc-title: Categories (work in progress: this list is preliminary and will be updated continuously)
:sectnums:
:sectnumlevels: 8

{% for software_category in software_categories %}
=== link:SoftwareCategory_{{ software_category.name.replace(' ', '').replace('/', '') }}[{{ software_category.name }}]
_{{software_category.short_description}}_

{% endfor %}

