{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Digital methods WiSo-Forschungslabor</h1>
            <p class="lead">
                For more information, refer to <a href="https://www.wiso.uni-hamburg.de/forschung/forschungslabor/aktuelleprojekte/digitale-methoden.html" target="_blank">the project website</a>.
            </p>
            <!--<a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>-->
        </div>
    </div>
</div>
{% endblock body %}
